<div>
  <span class="label" (click)="showAlert(item?.title)">{{ item?.title }}</span>
  
  <span class="details">{{ item?.details }}</span>
  <cds-button
    action="outline"
    class="button-edit"
    (click)="toggleEditable()"
    *ngIf="!isEditable"
  >
    Edit
  </cds-button>
  <form *ngIf="isEditable">
    <input
      #labelText
      autofocus
      [value]="item?.title"
      (keydown.enter)="changeLabel(labelText.value)"
    />
    <cds-button type="button" (click)="changeLabel(labelText.value)"
      >Save</cds-button
    >
  </form>
</div>

<cds-button action="flat" type="button" (click)="onDelete()">x</cds-button>
